<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szsm.videomeeting.modules.meeting.mapper.MeetingInfoMapper">

    <resultMap id="BaseResultMap" type="com.szsm.videomeeting.model.entity.MeetingInfo">

    </resultMap>

    <select id="getList" resultMap="BaseResultMap">
        select id, meeting_no, topic, begin_time, end_time, location, on_off, deleted, create_time, update_time, create_by, update_by
        from video_meeting.meeting
        <where>
            <if test="filter.topic!=null and filter.topic!=''">
                topic like '%${filter.topic}%'
            </if>
            <if test="filter.searchTimeStart != null ">
                and begin_time &gt; #{filter.searchTimeStart,jdbcType=DATE}
            </if>
            <if test="filter.searchTimeEnd != null">
                and begin_time &lt; #{filter.searchTimeEnd,jdbcType=DATE}
            </if>

        </where>

    </select>
</mapper>
